
.icon {
    font-size: 25px;
    cursor: pointer;
    -webkit-text-stroke-width: 0.75px;
    -webkit-text-stroke-color: #337ab7;
    -webkit-text-fill-color: #337ab7;
}

    .icon:hover {
        -webkit-text-stroke-color: #6dbafc;
        -webkit-text-fill-color: #6dbafc;
    }

    .icon:active {
        -webkit-text-stroke-color: #e0f1ff;
        -webkit-text-fill-color: #e0f1ff;
    }

.small_icon {
    height:     25px;
}
.xsmall_icon {
    height:18px;
}

.redIcon {
    color:red !important;
}
