
@{
    ViewBag.PageTitle = "Gestion des usagers";
}

<div id="UsersPanel"><!-- Auto refreshed --></div>


@section Scripts {

    <script>
        $(() => {
            let UsersPanel = new AutoRefreshedPanel("UsersPanel", "@Url.Action("GetUsers")", 5 /*seconds*/, attachEvents);
            function attachEvents() {
                $(".deleteCmd").click(function (e) {
                    var userId = $(this).attr("userId");
                    UsersPanel.confirmedCommand($(this).attr("title") + "?", "/Accounts/DeleteUser/" + userId);
                })
                $(".setUserAccessCmd").click(function (e) {
                    var userId = $(this).attr("userId");
                    var access = $(this).attr("access");
                    UsersPanel.confirmedCommand($(this).attr("title") + "?", `/Accounts/SetUserAccess?userid=${userId}&access=${access}`);
                })
                $(".blockCmd").click(function (e) {
                    var userId = $(this).attr("userId");
                    UsersPanel.confirmedCommand($(this).attr("title") + "?", "/Accounts/ToggleBlockUser/" + userId);
                })
                $(".forceVerifyCmd").click(function (e) {
                    var userId = $(this).attr("userId");
                    UsersPanel.confirmedCommand($(this).attr("title") + "?", "/Accounts/ForceVerifyUser/" + userId);
                })
            }
        })
    </script>
}