@model Models.EmailView
@{
    ViewBag.Title = "Réinitialisation de mot de passe";
    bool EmailNotFound = (bool)ViewBag.EmailNotFound;
}
<br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="event-form">
        <fieldset>
            <legend>Adresse de courriel</legend>
            <input name="Email" id="Email"
                   class="form-control Email"
                   placeholder="Courriel"
                   required
                   RequireMessage="Veuillez entrer votre adresse de courriel"
                   InvalidMessage="Courriel invalide"
                   value="@Model.Email" />
            @if (EmailNotFound)
            {
                <div class="text-danger">Courriel introuvable</div>
            }
            <input type="submit" value="Soumettre" class="btn btn-primary" />
        </fieldset>
    </div>
}
