@model Models.RenewPasswordView

@{
    ViewBag.PageTitle = "Renouvellement de mot de passe";
}
<br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Code)
    <div class="event-form">
        <fieldset>
            <legend>Mot de passe</legend>
            <div class="passwordLayout">
                <input name="Password" id="Password"
                       class="form-control"
                       type="password"
                       placeholder="Mot de passe"
                       required
                       RequireMessage="Veuillez entrer votre mot de passe" />
                @Helper.Icon("toggleShowPassword", "passwordShowIcon fa-eye", "Afficher/Masquer le mot de passe")
            </div>
            <div class="passwordLayout">
                <input id="ConfirmPassword"
                       matchedInputId="Password"
                       class="form-control MatchedInput"
                       type="password"
                       placeholder="Confirmation"
                       required
                       RequireMessage="Veuillez confirmer votre mot de passe"
                       InvalidMessage="Les mots de passse ne correspondent pas" />
            </div>
        </fieldset>

        <input id="submit" type="submit" value="Soumettre" class="btn btn-primary" />
    </div>
}
@section Scripts {
    <script>
        $(function () {
            $("#toggleShowPassword").hide();
            $("#toggleShowPassword").click(() => {
                $("#Password").attr("type", $("#Password").attr("type") == 'password' ? 'text' : 'password');
                $("#ConfirmPassword").attr("type", $("#ConfirmPassword").attr("type") == 'password' ? 'text' : 'password');
                $("#toggleShowPassword").toggleClass("fa-eye");
                $("#toggleShowPassword").toggleClass("fa-eye-slash");
            });
            $("#Password").keyup(() => {
                if ($("#Password").val() == "")
                    $("#toggleShowPassword").hide();
                else
                    $("#toggleShowPassword").show();
            })
        })
    </script>
}

