@{ ViewBag.PageTitle = "À propos de "; }
<div style="display:flex; align-items:center">
    <img src="~/WebApp.png" style="width:70px" />
    <h1>Wikimedia</h1>

</div>
<dl>
    <br />
    <dd style="text-align:justify">
        Application Web transactionnelle multi-usagers offrant une interface CRUD aux usagers authentifiés pour gérer une liste de vidéos Youtube conservés dans un fichier local au serveur en format JSON.
        <br /> <br />
        Ce site est à titre de démonstration dans le cadre pédagogique du cours 420-KBD-LG - Développment d'applications Web II. Il n'est nullement relié à une activité commerciale.

        Les vidéos partagés par les étudiants du cours seront modérés par le Webmestre. Tout contenu en conflit avec l'éthique collégiale sera effacé.
        <br />
        <br />
        <u>Note importante :</u> <br />Ce site ce veut le solutionnaire de la phase B du TP sur la sécurité.
    </dd>

    <dt>
        <br />
        Auteur
    </dt>

    <dd>
        Nicolas Chourot <br />
        Enseignant <br />
        Département d'informatique <br />
        Collège Lionel-Groulx <br />
        <a href="mailto:Nicolas.Chourot@clg.qc.ca">Nicolas.Chourot@clg.qc.ca</a>
    </dd>

    <dt>
        <br />
        Date de publication
    </dt>
    <dd>
        21 mars 2026
    </dd>

    <dt>
        <br />
        Nombres d'usagers en ligne : @Models.User.GetOnlineUsers().Count()
    </dt>
    
</dl>